.container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 100px;
}

.popup-button {
    border: 1px solid #000;
    padding: 10px 15px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 70px;
}